*{
  outline: none !important;
  font-family: 'Chakra Petch', sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Chakra Petch', sans-serif !important;
}

h1, h2, h3{
  color: white;
  margin: 0;
}
